{% block head %}

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    {% block customCSS %} {% endblock %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logodoble.png') }}" />
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet" />
    <!-- boxicons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!-- glightbox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/css/glightbox.css" />
    <!-- swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>
{% endblock %} {% block body %}

<body>

    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo">
                <a href="home"><img src="{{ url_for('static', filename='img/logo.svg') }}" alt="" />
                    <h6 style="color: #3bd100; font-weight: bold">
                        Usuario activo {{ current_user.fullname }}
                    </h6>
                </a>
            </h1>
            <nav id="navbar" class="navbar">
                <ul>
                    <li>
                        <a class="nav-link scrollto" href="home">Inicio</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto active" href="">Registro</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto " href="asesores">Resultados</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto " href="asesores_info">Asesores</a>
                    </li>
                    <!-- <li>
                        <a class="nav-link scrollto" href="#services">Services</a>
                    </li> -->
                    <li>
                        <a class="btn nav-link scrollto" href="{{ url_for('logout') }}" style="color: #d7411d">
                            Cerrar sesión<i class="bi bi-box-arrow-left"
                                style="font-size: 20px; color: #d7411d"></i></a>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>

    <main id="main">
        <!-- ======= PAC Section ======= -->
        <section id="contact" class="contact">

            <div class="container">

                <div class="section-title">
                    <span>PERFILAMIENTO ANALITICO DEL COLABORADOR</span>
                    <h2>PERFILAMIENTO ANALITICO DEL COLABORADOR</h2>
                    <!-- <h2 style="
                    font-size: 15PX;
                    margin: 0;
                    padding: 0;
                ">PERFILAMIENTO ANALITICO DEL COLABORADOR</h2> -->
                </div>

                <div class="mt-5 mt-lg-0 d-flex align-items-stretch">

                    <form id="upload-form" action="/guardar_asesor" method="post" enctype="multipart/form-data"
                        class="php-email-form" onsubmit="showProcessingModal()">
                        {{ form.hidden_tag() }}

                        <div class="row">
                            <!-- Columna 1 -->
                            <div class="col-md-3">
                                <h6>
                                    <strong>Categoría 1: Datos Personales</strong>
                                </h6>

                                <div class="form-group">
                                    <label for="tipo_documento">Tipo de documento:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="tipo_documento" id="tipo_documento"
                                            oninput="checkFile()" required>
                                            <option value="" disabled selected>Seleccionar</option>
                                            <option value="Cédula de ciudadanía (CC)" {% if
                                                form.tipo_documento=='Cédula de ciudadanía (CC)' %}selected{% endif %}>
                                                Cédula de ciudadanía (CC)</option>
                                            <option value="Cédula de extranjera (CE)" {% if
                                                form.tipo_documento=='Cédula de extranjera (CE)' %}selected{% endif %}>
                                                Cédula de extranjera (CE)</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="numero_documento">Numero de identificación:</label>
                                    <input class="form-control" type="text" id="numero_documento"
                                        name="numero_documento" maxlength="15"
                                        oninput="checkFile(); this.value = this.value.replace(/[^0-9]/g, '')" required>
                                </div>

                                <div class="form-group">
                                    <label for="nombre">Nombre del asesor:</label>
                                    <input class="form-control" type="text" id="nombre" name="nombre" maxlength="30"
                                        oninput="checkFile(); this.value=this.value.replace(/[^a-zA-Z\s]/g, '')"
                                        required>
                                </div>

                                <div class="form-group">
                                    <label for="edad">Edad:</label>
                                    <input class="form-control" type="date" id="edad" name="edad" maxlength="10"
                                        value="1990-01-01" required oninput="checkFile()">
                                </div>

                                <div class="form-group">
                                    <label for="genero">Género:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="genero" id="genero" oninput="checkFile()"
                                            required>
                                            <option value="" disabled selected>Seleccionar</option>
                                            <option value="Masculino" {% if form.genero=='Masculino' %}selected{% endif
                                                %}>Masculino</option>
                                            <option value="Femenino" {% if form.genero=='Femenino' %}selected{% endif
                                                %}>Femenino</option>
                                            <option value="Prefiero no decirlo" {% if form.genero=='Prefiero no decirlo'
                                                %}selected{% endif %}>Prefiero no decirlo</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <!-- Columna 2 -->
                            <div class="col-md-3">
                                <h6>
                                    <strong>Categoría 2: Estado Civil y Contacto</strong>
                                </h6>

                                <div class="form-group">
                                    <label for="estado_civil">Estado civil:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="estado_civil" id="estado_civil"
                                            oninput="checkFile()" required>
                                            <option value="" disabled selected>Seleccionar</option>
                                            <option value="Soltero/a" {% if form.estado_civil=='Soltero/a' %}selected{%
                                                endif %}>Soltero/a</option>
                                            <option value="Casado/a" {% if form.estado_civil=='Casado/a' %}selected{%
                                                endif %}>Casado/a</option>
                                            <option value="Union libre" {% if form.estado_civil=='Union libre'
                                                %}selected{% endif %}>Union libre</option>
                                            <option value="Separado/a" {% if form.estado_civil=='Separado/a'
                                                %}selected{% endif %}>Separado/a</option>
                                            <option value="Divorsiado/a" {% if form.estado_civil=='Divorsiado/a'
                                                %}selected{% endif %}>Divorsiado/a</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="correo">Correo electrónico:</label>
                                    <input class="form-control" type="email" id="correo" name="correo" required
                                        oninput="checkFile()">
                                </div>

                                <div class="form-group">
                                    <label for="telefono">Teléfono:</label>
                                    <input class="form-control" type="text" id="telefono" name="telefono" maxlength="10"
                                        oninput="checkFile(); this.value = this.value.replace(/[^0-9]/g, '').substring(0, 10)"
                                        required>
                                </div>
                            </div>

                            <!-- Columna 3 -->
                            <div class="col-md-3">
                                <h6>
                                    <strong>Categoría 3: Educación y Vivienda</strong>
                                </h6>

                                <div class="form-group">
                                    <label for="nivel_estudios">Nivel de estudios:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="nivel_estudios" id="nivel_estudios"
                                            oninput="checkFile()" required>
                                            <option value="" disabled selected>Seleccionar</option>
                                            <option value="Bachillerato" {% if form.nivel_estudios=='Bachillerato'
                                                %}selected{% endif %}>Bachillerato</option>
                                            <option value="Formación Técnica/Tecnologo" {% if
                                                form.nivel_estudios=='Formación Técnica/Tecnologo' %}selected{% endif
                                                %}>Formación Técnica/Tecnologo</option>
                                            <option value="Formación profesional - Pregrado" {% if
                                                form.nivel_estudios=='Formación profesional - Pregrado' %}selected{%
                                                endif %}>
                                                Formación profesional - Pregrado</option>
                                            <option value="Posgrado" {% if form.nivel_estudios=='Posgrado' %}selected{%
                                                endif %}>Posgrado</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="tipo_vivienda">Tipo de vivienda:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="tipo_vivienda" id="tipo_vivienda"
                                            oninput="checkFile()" required>
                                            <option value="" disabled selected>Seleccionar</option>
                                            <option value="Familiar" {% if form.tipo_vivienda=='Familiar' %}selected{%
                                                endif %}>Familiar</option>
                                            <option value="Propia" {% if form.tipo_vivienda=='Propia' %}selected{% endif
                                                %}>Propia</option>
                                            <option value="Alquilada" {% if form.tipo_vivienda=='Alquilada' %}selected{%
                                                endif %}>Alquilada</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="estrato">Estrato:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="estrato" id="estrato" oninput="checkFile()"
                                            required>
                                            <option value="" disabled selected>Seleccionar</option>
                                            <option value="1" {% if form.estrato=='1' %}selected{% endif %}>1
                                            </option>
                                            <option value="2" {% if form.estrato=='2' %}selected{% endif %}>2
                                            </option>
                                            <option value="3" {% if form.estrato=='3' %}selected{% endif %}>3
                                            </option>
                                            <option value="4" {% if form.estrato=='4' %}selected{% endif %}>4
                                            </option>
                                            <option value="5" {% if form.estrato=='5' %}selected{% endif %}>5
                                            </option>
                                            <option value="6" {% if form.estrato=='6' %}selected{% endif %}>6
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="num_hijos">Número de hijos:</label>
                                    <input class="form-control" type="text" id="num_hijos" name="num_hijos" oninput="checkFile();this.value =
                                        this.value.replace(/[^0-9]/g, '')" , maxlength="1" required>
                                </div>

                                <div class="form-group">
                                    <label for="personas_cargo">Personas a cargo:</label>
                                    <input class="form-control" type="text" id="personas_cargo" name="personas_cargo"
                                        oninput="checkFile();this.value =
                                        this.value.replace(/[^0-9]/g, '')" , maxlength="1" required>
                                </div>

                            </div>

                            <!-- Columna 4 -->
                            <div class="col-md-3">
                                <h6>
                                    <strong>Categoría 4: Experiencia Laboral</strong>
                                </h6>

                                <div class="form-group">
                                    <label for="experiencia">Experiencia Teletrabajo:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="experiencia" id="experiencia" required>
                                            <option value="" disabled selected>Seleccionar</option>
                                            <option value="Sin experiencia" {% if form.experiencia=='Sin experiencia'
                                                %}selected{% endif %}>
                                                Sin experiencia</option>
                                            <option value="Menor a 1 año" {% if form.experiencia=='Menor a 1 año'
                                                %}selected{% endif %}>
                                                Menor a 1 año</option>
                                            <option value="Entre 1 y 2 años" {% if form.experiencia=='Entre 1 y 2 años'
                                                %}selected{% endif %}>
                                                Entre 1 y 2 años</option>
                                            <option value="Entre 2 y 4 años" {% if form.experiencia=='Entre 2 y 4 años'
                                                %}selected{% endif %}>
                                                Entre 2 y 4 años</option>
                                            <option value="Mayor a 5 años" {% if form.experiencia=='Mayor a 5 años'
                                                %}selected{% endif %}>
                                                Mayor a 5 años</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="area_experiencia">Área de experiencia:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="area_experiencia" id="area_experiencia"
                                            oninput="checkFile()" required>
                                            <option value="" disabled selected>Seleccionar</option>
                                            <option value="Sin experiencia" {% if
                                                form.area_experiencia=='Sin experiencia' %}selected{% endif %}>
                                                Sin experiencia</option>
                                            <option value="Ventas" {% if form.area_experiencia=='Ventas' %}selected{%
                                                endif %}>Ventas</option>
                                            <option value="Servicios de atención" {% if
                                                form.area_experiencia=='Servicios de atención' %}selected{% endif %}>
                                                Servicios de atención</option>
                                            <option value="Recuperación y recobro" {% if
                                                form.area_experiencia=='Recuperación y recobro' %}selected{% endif %}>
                                                Recuperación y recobro</option>
                                            <option value="Back Office (BO)" {% if
                                                form.area_experiencia=='Back Office (BO)' %}selected{% endif %}>Back
                                                Office (BO)</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="tiempo_ventas">Experiencia en
                                        Ventas:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="tiempo_ventas" id="tiempo_ventas"
                                            oninput="checkFile()" required>
                                            <option value="" disabled selected>Seleccionar</option>
                                            <option value="Sin experiencia" {% if form.tiempo_ventas=='Sin experiencia'
                                                %}selected{% endif %}>
                                                Sin experiencia</option>
                                            <option value="Menor a 1 año" {% if form.tiempo_ventas=='Menor a 1 año'
                                                %}selected{% endif %}>
                                                Menor a 1 año</option>
                                            <option value="Entre 1 y 2 años" {% if
                                                form.tiempo_ventas=='Entre 1 y 2 años' %}selected{% endif %}>
                                                Entre 1 y 2 años</option>
                                            <option value="Entre 2 y 4 años" {% if
                                                form.tiempo_ventas=='Entre 2 y 4 años' %}selected{% endif %}>
                                                Entre 2 y 4 años</option>
                                            <option value="Mayor a 5 años" {% if form.tiempo_ventas=='Mayor a 5 años'
                                                %}selected{% endif %}>
                                                Mayor a 5 años</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="experiencia_general">Experiencia
                                        general:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="experiencia_general" id="experiencia_general"
                                            oninput="checkFile()" required>
                                            <option value="" disabled selected>Seleccionar</option>
                                            <option value="Sin experiencia" {% if
                                                form.experiencia_general=='Sin experiencia' %}selected{% endif %}>
                                                Sin experiencia</option>
                                            <option value="Menor a 1 año" {% if
                                                form.experiencia_general=='Menor a 1 año' %}selected{% endif %}>
                                                Menor a 1 año</option>
                                            <option value="Entre 1 y 2 años" {% if
                                                form.experiencia_general=='Entre 1 y 2 años' %}selected{% endif %}>
                                                Entre 1 y 2 años</option>
                                            <option value="Entre 2 y 4 años" {% if
                                                form.experiencia_general=='Entre 2 y 4 años' %}selected{% endif %}>
                                                Entre 2 y 4 años</option>
                                            <option value="Mayor a 5 años" {% if
                                                form.experiencia_general=='Mayor a 5 años' %}selected{% endif %}>
                                                Mayor a 5 años</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="otra_area_experiencia">Otra área de
                                        experiencia:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="otra_area_experiencia"
                                            id="otra_area_experiencia" oninput="checkFile()" required>
                                            <option value="" disabled selected>Seleccionar</option>option>
                                            <option value="Áreas administrativas" {% if
                                                form.otra_area_experiencia=='Áreas administrativas' %}selected{% endif
                                                %}>
                                                Áreas administrativas
                                            </option>
                                            <option value="Servicio al cliente presencial" {% if
                                                form.otra_area_experiencia=='Servicio al cliente presencial'
                                                %}selected{% endif %}>
                                                Servicio al cliente presencial
                                            </option>
                                            <option value="Venta al cliente presencial" {% if
                                                form.otra_area_experiencia=='Venta al cliente presencial' %}selected{%
                                                endif %}>
                                                Venta al cliente presencial
                                            </option>
                                            <option value="Otros" {% if form.otra_area_experiencia=='Otros' %}selected{%
                                                endif %}>Otros</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div style="padding: 25px 5px; background-color:#d3d3ff;">
                            <strong>Adjuntar PDA y Registrar</strong>
                            <div style="display: flex;">
                                <div class="mb-3" style="margin-right: 10px; margin-top: 10px;">
                                    <input class="form-control" type="file" id="file-input" name="file"
                                        accept="application/pdf" onchange="checkFile()" style="width: 500px;">
                                </div>
                                <div class="mb-3" style="margin-right: 10px; margin-top: 10px;">
                                    <input type="submit" id="upload-btn" class="btn btn-outline-primary" value="Cargar"
                                        disabled>
                                </div>
                            </div>
                        </div>

                    </form>

                    <div id="processing-modal" class="modal">
                        <div class="modal-content">
                            <p>Procesando...</p>
                        </div>
                    </div>

                    <div id="overlay" class="overlay"></div> <!-- Nuevo div para cubrir la pantalla -->

                    {% if message %}
                    <script>
                        alert("{{ message }}");
                    </script>
                    {% endif %}

                </div>

            </div>

        </section>
        <!-- End PAC Section -->
    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container"></div>
        </div>
        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Emergia</span></strong>.
            </div>
            <div class="credits">
                Designed by
                <a href="#">Área de Analítica e inteligencia de negocios</a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!-- boxicons -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <!-- glightbox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/js/glightbox.min.js"></script>
    <!-- swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- isotope -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <!-- purecounterjs -->
    <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
</body>

<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<!-- boxicons -->
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<!-- glightbox -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/js/glightbox.min.js"></script>
<!-- swiper -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<!-- isotope -->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<!-- purecounterjs -->
<script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}