{% block head %}

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    {% block customCSS %} {% endblock %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logodoble.png') }}" />
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet" />
    <!-- boxicons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!-- glightbox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/css/glightbox.css" />
    <!-- swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>
{% endblock %} {% block body %}

<body>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo">
                <a href="home"><img src="{{ url_for('static', filename='img/logo.svg') }}" alt="" />
                    <h6 style="color: #522DB2; font-weight: bold">
                        Usuario activo {{ current_user.fullname }}
                    </h6>
                </a>
            </h1>
            <nav id="navbar" class="navbar">
                <ul>
                    <li>
                        <a class="nav-link scrollto" href="{{ url_for('home') }}">Inicio</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto active" href="">Registro</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto" href="{{ url_for('asesores') }}">Resultados</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto " href="{{ url_for('asesores_info') }}">Asesores</a>
                    </li>
                    <!-- <li>
                        <a class="nav-link scrollto" href="#services">Services</a>
                    </li> -->
                    <li>
                        <a class="btn nav-link scrollto" href="{{ url_for('logout') }}" style="color: #d7411d">
                            Cerrar sesión<i class="bi bi-box-arrow-left"
                                style="font-size: 20px; color: #d7411d"></i></a>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>

    <main id="main">
        <!-- Form Section -->
        <section id="contact" class="contact">

            <div class="container">

                <div class="section-title">
                    <span>PAC</span>
                    <h2>PAC</h2>
                    <h2 style="
                    font-size: 15PX;
                    margin: 0;
                    padding: 0;
                ">Registro de colaborador</h2>
                </div>

                <div class="mt-5 mt-lg-0 d-flex align-items-stretch">

                    <form action="{{url_for('actualizar_asesor')}}" method="post" class="php-email-form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <input type="hidden" name="id" value="{{asesor[0]}}">

                        <div class="row">
                            <!-- Columna 1 -->
                            <div class="col-md-3">
                                <h6>
                                    <strong>Categoría 1: Datos Personales</strong>
                                </h6>

                                <div class="form-group">
                                    <label class="label-titles" for="tipo_documento">Tipo de documento:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="tipo_documento" id="tipo_documento" required>
                                            <option value="{{ asesor[1] }}" selected>{{ asesor[1] }}</option>
                                            <option value="Cédula de ciudadanía (CC)" {% if asesor[1]=='CC' %}selected{%
                                                endif %}>Cédula de
                                                ciudadanía (CC)</option>
                                            <option value="Cédula de extranjera (CE)" {% if asesor[1]=='CE' %}selected{%
                                                endif %}>Cédula de
                                                extranjera (CE)</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="numero_documento">Numero de identificación:</label>
                                    <input type="text" name="numero_documento" id="numero_documento"
                                        value="{{ asesor[2] }}" class="form-control"
                                        oninput="checkFile(); this.value = this.value.replace(/[^0-9]/g, '')" required>
                                </div>

                                <div class="form-group">
                                    <label for="nombre">Nombre del asesor:</label>
                                    <input type="text" name="nombre" id="nombre" value="{{ asesor[3] }}"
                                        class="form-control" maxlength="30"
                                        oninput="checkFile(); this.value=this.value.replace(/[^a-zA-Z\s]/g, '')"
                                        required>
                                </div>

                                <div class="form-group">
                                    <label for="edad">Edad:</label>
                                    <input type="date" name="edad" id="edad" value="{{ asesor[4] }}"
                                        class="form-control" maxlength="10" required oninput="checkFile()">
                                </div>

                                <div class="form-group">
                                    <label class="label-titles" for="genero">Género:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="genero" id="genero" required>
                                            <option value="{{ asesor[5] }}" selected>{{ asesor[5] }}</option>
                                            <option value="Masculino" {% if asesor[5]=='Masculino' %}selected{% endif
                                                %}>Masculino</option>
                                            <option value="Femenino" {% if asesor[5]=='Femenino' %}selected{% endif %}>
                                                Femenino</option>
                                            <option value="Prefiero no decirlo" {% if asesor[5]=='Prefiero no decirlo'
                                                %}selected{% endif %}>Prefiero no decirlo</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <!-- Columna 2 -->
                            <div class="col-md-3">
                                <h6>
                                    <strong>Categoría 2: Estado Civil y Contacto</strong>
                                </h6>

                                <div class="form-group">
                                    <label class="label-titles" for="estado_civil">Estado civil:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="estado_civil" id="estado_civil" required>
                                            <option value="{{ asesor[6] }}" selected>{{ asesor[6] }}</option>
                                            <option value="Soltero/a" {% if asesor[6]=='Soltero/a' %}selected{% endif
                                                %}>
                                                Soltero/a</option>
                                            <option value="Casado/a" {% if asesor[6]=='Casado/a' %}selected{% endif %}>
                                                Casado/a</option>
                                            <option value="Unión libre" {% if asesor[6]=='Unión libre' %}selected{%
                                                endif %}>Unión libre</option>
                                            <option value="Separado/a" {% if asesor[6]=='Separado/a' %}selected{% endif
                                                %}>
                                                Separado/a</option>
                                            <option value="Divorciado/a" {% if asesor[6]=='Divorciado/a' %}selected{%
                                                endif %}>Divorciado/a</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="correo" class="form-label">Correo electrónico:</label>
                                    <input type="email" name="correo" id="correo" value="{{ asesor[8] }}"
                                        class="form-control" placeholder="Correo electrónico" oninput="checkFile()"
                                        required />
                                </div>

                                <div class="form-group">
                                    <label for="telefono" class="form-label">Teléfono:</label>
                                    <input type="tel" name="telefono" id="telefono" value="{{ asesor[9] }}"
                                        class="form-control" maxlength="10"
                                        oninput="checkFile(); this.value = this.value.replace(/[^0-9]/g, '').substring(0, 10)"
                                        required>
                                </div>


                            </div>

                            <!-- Columna 3 -->
                            <div class="col-md-3">
                                <h6>
                                    <strong>Categoría 3: Educación y Vivienda</strong>
                                </h6>

                                <div class="form-group">
                                    <label class="label-titles" for="nivel_estudios">Nivel de estudios:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="nivel_estudios" id="nivel_estudios" required>
                                            <option value="{{ asesor[10] }}" selected>{{ asesor[10] }}</option>
                                            <option value="Bachillerato" {% if asesor[10]=='Bachillerato' %}selected{%
                                                endif %}>Bachillerato</option>
                                            <option value="Formación Técnica/Tecnologo" {% if
                                                asesor[10]=='Formación Técnica/Tecnologo' %}selected{% endif %}>
                                                Formación Técnica/Tecnólogo</option>
                                            <option value="Formación profesional - Pregrado" {% if
                                                asesor[10]=='Formación profesional - Pregrado' %}selected{% endif %}>
                                                Formación
                                                profesional - Pregrado</option>
                                            <option value="Posgrado" {% if asesor[10]=='Posgrado' %}selected{% endif %}>
                                                Posgrado</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="label-titles" for="tipo_vivienda">Tipo de vivienda:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="tipo_vivienda" id="tipo_vivienda" required>
                                            <option value="{{ asesor[7] }}" selected>{{ asesor[7] }}</option>
                                            <option value="Familiar" {% if asesor[7]=='Familiar' %}selected{% endif %}>
                                                Familiar</option>
                                            <option value="Propia" {% if asesor[7]=='Propia' %}selected{% endif %}>
                                                Propia</option>
                                            <option value="Alquilada" {% if asesor[7]=='Alquilada' %}selected{% endif
                                                %}>Alquilada</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="label-titles" for="estrato">Estrato:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="estrato" id="estrato" required>
                                            <option value="{{ asesor[11] }}" selected>{{ asesor[11] }}</option>
                                            <option value="1" {% if asesor[11]=='1' %}selected{% endif %}>1</option>
                                            <option value="2" {% if asesor[11]=='2' %}selected{% endif %}>2</option>
                                            <option value="3" {% if asesor[11]=='3' %}selected{% endif %}>3</option>
                                            <option value="4" {% if asesor[11]=='4' %}selected{% endif %}>4</option>
                                            <option value="5" {% if asesor[11]=='5' %}selected{% endif %}>5</option>
                                            <option value="6" {% if asesor[11]=='6' %}selected{% endif %}>6</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="num_hijos" class="form-label">Número de hijos:</label>
                                    <input type="text" name="num_hijos" id="personas_cargo" value="{{ asesor[12] }}"
                                        class="form-control" oninput="checkFile();this.value =
                                        this.value.replace(/[^0-9]/g, '')" , maxlength="1" required>
                                </div>

                                <div class="form-group">
                                    <label for="personas_cargo" class="form-label">Personas a cargo:</label>
                                    <input type="text" name="personas_cargo" id="personas_cargo"
                                        value="{{ asesor[13] }}" class="form-control" oninput="checkFile();this.value =
                                        this.value.replace(/[^0-9]/g, '')" , maxlength="1" required>
                                </div>

                            </div>

                            <div class="col-md-3">
                                <h6>
                                    <strong>Categoría 4: Experiencia Laboral</strong>
                                </h6>

                                <div class="form-group">
                                    <label class="label-titles" for="experiencia">Experiencia Teletrabajo:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="experiencia" id="experiencia" required>
                                            <option value="{{ asesor[17] }}" selected>{{ asesor[14] }}</option>
                                            <option value="Sin experiencia" {% if asesor[17]=='Sin experiencia'
                                                %}selected{% endif %}>Sin experiencia</option>
                                            <option value="Menor a 1 año" {% if asesor[17]=='Menor a 1 año' %}selected{%
                                                endif %}>
                                                Menor a 1 año</option>
                                            <option value="Entre 1 y 2 años" {% if asesor[17]=='Entre 1 y 2 años'
                                                %}selected{% endif %}>Entre 1 y 2 años</option>
                                            <option value="Entre 2 y 4 años" {% if asesor[17]=='Entre 2 y 4 años'
                                                %}selected{% endif %}>Entre 2 y 4 años</option>
                                            <option value="Mayor a 5 años" {% if asesor[17]=='Mayor a 5 años'
                                                %}selected{% endif %}>
                                                Mayor a 5 años</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="label-titles" for="area_experiencia">Área de experiencia:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="area_experiencia" id="area_experiencia"
                                            required>
                                            <option value="{{ asesor[15] }}" selected>{{ asesor[15] }}</option>
                                            <option value="Sin experiencia" {% if asesor[15]=='Sin experiencia'
                                                %}selected{% endif %}>Sin experiencia</option>
                                            <option value="Ventas" {% if asesor[15]=='Ventas' %}selected{% endif %}>
                                                Ventas</option>
                                            <option value="Servicios de atención" {% if
                                                asesor[15]=='Servicios de atención' %}selected{% endif %}>Servicios de
                                                atención</option>
                                            <option value="Recuperación y recobro" {% if
                                                asesor[15]=='Recuperación y recobro' %}selected{% endif %}>Recuperación
                                                y recobro</option>
                                            <option value="Back Office (BO)" {% if asesor[15]=='Back Office (BO)'
                                                %}selected{% endif %}>Back Office (BO)</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="label-titles" for="tiempo_ventas">Experiencia en
                                        ventas:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="tiempo_ventas" id="tiempo_ventas" required>
                                            <option value="{{ asesor[16] }}" selected>{{ asesor[16] }}</option>
                                            <option value="Sin experiencia" {% if asesor[16]=='Sin experiencia'
                                                %}selected{% endif %}>Sin experiencia</option>
                                            <option value="Menor a 1 año" {% if asesor[16]=='Menor a 1 año' %}selected{%
                                                endif %}>
                                                Menor a 1 año</option>
                                            <option value="Entre 1 y 2 años" {% if asesor[16]=='Entre 1 y 2 años'
                                                %}selected{% endif %}>Entre 1 y 2 años</option>
                                            <option value="Entre 2 y 4 años" {% if asesor[16]=='Entre 2 y 4 años'
                                                %}selected{% endif %}>Entre 2 y 4 años</option>
                                            <option value="Mayor a 5 años" {% if asesor[16]=='Mayor a 5 años'
                                                %}selected{% endif %}>
                                                Mayor a 5 años</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="label-titles" for="experiencia_general">Experiencia general:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="experiencia_general" id="experiencia_general"
                                            required>
                                            <option value="{{ asesor[17] }}" selected>{{ asesor[17] }}</option>
                                            <option value="Sin experiencia" {% if asesor[17]=='Sin experiencia'
                                                %}selected{% endif %}>Sin experiencia</option>
                                            <option value="Menor a 1 año" {% if asesor[17]=='Menor a 1 año' %}selected{%
                                                endif %}>
                                                Menor a 1 año</option>
                                            <option value="Entre 1 y 2 años" {% if asesor[17]=='Entre 1 y 2 años'
                                                %}selected{% endif %}>Entre 1 y 2 años</option>
                                            <option value="Entre 2 y 4 años" {% if asesor[17]=='Entre 2 y 4 años'
                                                %}selected{% endif %}>Entre 2 y 4 años</option>
                                            <option value="Mayor a 5 años" {% if asesor[17]=='Mayor a 5 años'
                                                %}selected{% endif %}>
                                                Mayor a 5 años</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="label-titles" for="otra_area_experiencia">Otra área de
                                        experiencia:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="otra_area_experiencia"
                                            id="otra_area_experiencia" required>
                                            <option value="{{ asesor[18] }}" selected>{{ asesor[18] }}</option>
                                            <option value="Áreas administrativas" {% if
                                                asesor[18]=='Áreas administrativas' %}selected{% endif %}>Áreas
                                                administrativas</option>
                                            <option value="Servicio al cliente presencial" {% if
                                                asesor[18]=='Servicio al cliente presencial' %}selected{% endif %}>
                                                Servicio al cliente presencial</option>
                                            <option value="Venta al cliente presencial" {% if
                                                asesor[18]=='Venta al cliente presencial' %}selected{% endif %}>Venta al
                                                cliente presencial</option>
                                            <option value="Otros" {% if asesor[18]=='Otros' %}selected{% endif %}>Otros
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- Submit Button -->
                        <div style="
                        background-color: #d3d3ff;padding: 15px 5px;">
                            <div>
                                <button class="btn btn-outline-primary" type="submit">
                                    Guardar
                                </button>
                            </div>
                        </div>

                    </form>

                </div>

            </div>

        </section>
        <!-- End Form Section -->
    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container"></div>
        </div>
        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Emergia</span></strong>.
            </div>
            <div class="credits">
                Designed by
                <a href="#">Área de Analítica e inteligencia de negocios</a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!-- boxicons -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <!-- glightbox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/js/glightbox.min.js"></script>
    <!-- swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- isotope -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <!-- purecounterjs -->
    <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
{% endblock %}