{% extends './base.html' %} {% block title %}Login{% endblock %} {% block
customCSS %} {% endblock %} {% block body %}
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="#" class="sign-in-form">
                    <h2 class="title">iniciar sesión</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Usuario" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Contraseña" />
                    </div>
                    <input type="submit" value="Login" class="btn solid" />
                    <p class="social-text">Visita nuestras redes sociales</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3><img src="/img/emergia.svg" alt="" /></h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Iure, perferendis minus quod, mollitia odit
                        blanditiis debitis nulla minima eius quae, neque
                        consequuntur quis esse quidem? Voluptate expedita
                        aperiam incidunt repudiandae.
                    </p>
                    <!--<button class="btn transparent" id="sign-up-btn">
                        Sign up
                    </button>-->
                </div>
                <img
                    src="{{ url_for('static', filename='img/log.svg') }}"
                    class="image"
                    alt=""
                />
            </div>
        </div>
    </div>
</body>
{% endblock %}
