textract==1.6.5
pytesseract
PyPDF2==2.12.1
opencv-python
pandas
pdf2image
nums_from_string
numpy
ocrmypdf


#tabula-py
#pdfminer

#PDFplumber
#camelot-py
#ghostscript

#PyMuPDF
#pyocr
#Wand
#pillow


#scikit-image
#tqdm
fastapi
uvicorn
python-multipart
